:root{
  --color-primary: #FFCE0F;
  --second-color: #FFF000;
  --second-text-color: #393939;
  --gray-color: #F5F5F5;
}

 * {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
   

}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-transform: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
body{
  font-family:  'Gotham', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: black;
  margin: 0;
  background-color: white;
  
}
.site-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main{
  flex: 1 1 auto;
}
a{
  text-decoration: none;
  color: inherit;/*наследует цвет у родителя*/
  display: inline-block;
}

@font-face{
  font-family: 'Gotham';
  src:  url(fonts/gothampro.ttf);
}

/*header*/
/*-----------------------------------------*/
header{
  color: white;
  font-family: 'Gotham', sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 130;
}
.outer-container{
  width: 1720px;
}
.outer-container, .container {
    width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}
.h-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 110px;
  
}
.h-col-c {
  flex-grow: 1;
  padding-right: 20px;
  
}

.hide{
  display: none !important;
}
.elements-search{
  margin: 20px 0 20px 0;
  text-align: left;
  border-radius: 10px;
  border: 1px solid white;
  overflow-y: scroll;
  max-height: 250px;
  transition: all 0.8s ease 0s;
}

.elements-search::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.elements-search::-webkit-scrollbar-thumb {
  border-radius: 20px;       
  background-color: white;
}

.elements-search li{
  line-height: 12px;
  font-size: 12px;
  padding: 10px 10px;
  border-bottom: 1px  solid white;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.8s ease 0s;
}
.elements-search li:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
.elements-search li a p{
  font-weight: bold;
  font-size: 14px;
}

ul.nav-list {
  display: -webkit-box;
  display: flex;
  justify-content: center;
}

.nav-list>li :after{
    content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-list>li :hover::after{
  width: 100%; 
  left: 0; 
}
ul.custom {
  margin: 0;
  padding: 0;
}
ul.custom > li {
    display: block;
    list-style: none;
    padding: 0 10px;
}
ul.nav-list a {
    text-decoration: none;
    font-size: 0.9em;
    position: relative;
    padding: 3px 0;

}

.h-col-r{
  display: flex;
  align-items: center;
}
.h-ctc{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.btn{
  border-radius: 0;
  border: 0;
  font-size: 14px;
  background-color: var(--color-primary);
  border-radius: 5px;
  display: inline-flex;
  text-decoration: none;
  text-align: center;
  padding: 2px 10px;
  font-family:  'Gotham';
  font-weight: bold;
  text-transform: uppercase;
  min-width: 100px;
  height: 35px;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms, color 300ms;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--second-color);
}

.h-tel{
  text-decoration: none;
  line-height: 1;
  font-size: 16px;
}
.h-email{
  font-family:  'Gotham';
  font-size: 16px;
  text-decoration: none;
}

.nav-btn{
  display: none;
  width: 30px;
  height: 40px;
  background-color: transparent;
  margin-right: 0;
  border-radius: 5px;
  position: relative;
  margin-left: 15px;
}

/*Top=screen*/
/*------------------------*/

.top-screen {
    padding-top: 110px;
    background-color: #f3d561;
    position: relative;
    z-index: 1;
}
.index-screen {
    min-height: 725px;
    display: flex;
    overflow: hidden;
}

.top-screen:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
}



.top-screen video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: none;
    transform: none;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
}

.top-screen video {
    width: auto;
    
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.index-screen > .container{
  margin-top: 10%;
  width: 100%;
}
.top-screen > .container {

    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}
.top-screen__catalog  + .container {
    padding-top: 76px;
}

.caption, .caption2, .caption3, .caption4, .caption5, .caption6, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.78em 0;
    font-family:  'Gotham';
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
}

.sr-caption{
  font-size: 30px;
  font-weight: bold;
  padding: 0 0 20px 0;
}
.h-search {

}
.h-search input {
  border-radius: 5px;
  width: 500px;
  background: var(--gray-color);
  border: 2px solid #ECECEC;
  color: #444444;
  padding: 10px 25px;
  font-size: 0.89em;
}
.h-search button{

  font-family:  'Gotham';
  font-weight: bold;
  width: 100px;
  border-radius: 5px;
  background: var(--color-primary);
  color: white;
  /*border: 1px solid #ECECEC;*/
  font-size: 0.89em;
  padding: 10px 25px;
  transition: all .3s;
}
#find-btn:hover{
  background-color: var(--second-color);

}
.h-sub-search{
  margin-top: 10px;

}


/*footer*/
.footer{
  background: black;
  color: white;
  display: flex;
}
.footer-block{
  justify-content: space-between;
  display: flex;
  padding: 70px 0 20px 0;
}

.adress{
  padding: 0 0 10px 0;
}
.contact{
  width: 300px;
  text-align: right;
}

.f-nav-list{
  font-family:  'Gotham';
    font-style: normal;
    font-weight: bold;
    font-size: 1.11em;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.f-nav-list > li {

  text-align: left;
  width: 50%;  
  flex-shrink: 0;
  margin-bottom: 31px;
}


li.footer-links>a:after{
  content: "";
  position: relative;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
li.footer-links>a:hover::after{
  width: 100%; 
  left: 0; 
}

.catalog{
  margin: 20px 0 0 0;
}
.catalog-h{
  display: flex;
  justify-content: space-between;
}
h2{
  color: black;
  font-size: 2.5rem;
  margin-bottom: 0.55em;
}
.cw-ot {  
  flex-shrink: 0;
  margin-left: 15px;
  padding-top: 8px;
}
.link {
  font-size: 1.5rem;
  text-decoration: none;
  font-family:  'Gotham';
  font-weight: bold;
  color: var(--color-primary);
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
}
.link:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: var(--color-primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.link:hover::after{
  width: 100%; 
  left: 0; 
}
ul.catalog-box-list{
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  padding-top: 7px;
}

ul.catalog-box-list > li {
  width: calc(50% - 10px);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 20px;
}
ul.custom > li {
  display: block;
  list-style: none; 
}
ul.catalog-box-list .ct-box {
    height: 100%;
}

.ct-box {
    padding: 18px 15px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ct-img {
    flex-shrink: 0;
    width: 168px;
    height: 115px;
    margin-right: 15px;
    position: relative;
    margin-top: 9px;
    display: block;
    text-decoration: none;
}
.ct-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    -o-object-position: center;
    object-position: center;
    font-family: 'object-fit: scale-down; object-position: center;';
}

ul.catalog-box-list .ct-content {  
  display: flex;
  flex-direction: column;   
  align-items: flex-start;
}

.ct-content {
  flex-grow: 1;
  width: 1%;
}

.ct-content-h {
  width: 100%;
  position: relative;
  text-align: left;

}
.ct-content-h>a{
  transition: all 0.3s;

}
.ct-content-h>a:hover{
  transition: all 0.3s;
  color: var(--color-primary);
}

.ct-content-list__links{
  margin: 10px 0 0 0 ;
  color: var(--second-text-color);
  flex-wrap: wrap;
}

li.ct-content-list__links>a:after{
  content: "";
  position: relative;
  bottom: 0;

  left: 0%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 3px;
  width: 0;
  background: var(--second-text-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

li.ct-content-list__links>a:hover::after{
  width: 100%; 
  left: 0; 
}

.about{
  margin: 20px 0 0;
  color: white;
  position: relative;
  padding: 0 0 50px 0;
  background-size: 100% auto ;
  position: relative;
}
.about:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to top, rgb(107 86 2 / 80%) 0%, rgb(195, 155, 0, 0.9) 100%);
}
.about>*{
  position: relative;
  z-index: 2;

}
.about-h>h2{
  color: white;
  font-weight: bold;
}
.about-main{
  display: flex;
  justify-content: space-between;
}
.ab-m-text{
  width: 48%;
  text-transform: uppercase;
}
.ab-m-map {
    text-align: center;
    width: 100%;
    color: black;
}
.ab-m-map {
    text-align: center;
    width: 100%;
    color: black;
}

.ab-m-map>iframe{
  width: 900px;
  height: 450px;
  margin-bottom: 65px;
}
.about-c{
  padding: 20px 0 0 0;
}
.ad-m-komp{
  margin: 10px;
  text-transform: none;
  counter-reset: section; 
}
.ad-m-komp>li{
  padding: 15px 0 0 0;
}
.ad-m-komp>li:before{
  counter-increment: section;  
  content: "0" counter(section) " ";
  color: #ffea00;
}




/*-------CATALOG---------*/

.top-screen__catalog {
    padding-top: 110px;
    background-color: #f3d561;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    height: 100%;
}
.top-screen__catalog:before{
  background: linear-gradient(to top, rgb(107 86 2 / 80%) 0%, rgb(195, 155, 0, 0.9) 100%);

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  content: "";
}
.top-screen__catalog>.container{
  z-index: 2;
  color: white;
}

.index-screen__catalog {
    min-height: 325px;
    display: flex;
    overflow: hidden;
}
.main-catalog{
  margin: 0px 0px 40px 0px;
}
.main-catalog>.container{
  padding: 50px 0 0 0;
}

.main-cols{
  display: flex;
}
.aside{
  width: 295px;
  margin-right: 20px;
}
.mc-content{
  width: 925px;
}
ul.ct-list > li {
    margin-bottom: 20px;
}
.as-box{
  background-color: var(--gray-color);
}
ul.as-list {
    padding: 17px 0;
}

ul.as-list > li {
    position: relative;
}

ul.as-list > li > a {
    margin: 0 50px 0 0;
    font-family:  'Gotham';
    font-weight: bold;
    font-size: 16px;
    
    text-decoration: none;
    display: block;
    line-height: 1;
    padding: 7px 10px 8px 20px;
    position: relative;
    -webkit-transition: color 300ms;
    transition: color 300ms;
}

ul.as-list > li > i {
    position: absolute;
    background-color: transparent;
    top: 5px;
    right: 0;
    padding-right: 30px;
    width: 12px;
    height: 21.38px;
    display: block;
    
    float: right;
    border-radius: 2px;
}
.acitve{
  border-left-color: var(--color-primary);
  border-left-style: solid; 
  border-left-width: 4px; 

}
li.acitve>a, li.acitve>.subnav-wrp>ul.subnav-list>li>a.active{
  color: var(--color-primary);
}
li.subnav>a:hover, ul.subnav-list>li>a:hover, ul.as-list > li.active > a{
  color: var(--color-primary);
}

.s-arrow-l {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 0;
    width: 12px;
    height: 6.38px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}

.s-arrow-l:after {
    content: "";
    background-color: var(--color-primary);
    width: 12px;
    height: 6.38px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
 
.s-arrow-r {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 5px;
    width: 12px;
    height: 6.38px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.s-arrow-r:after {
    content: "";
    background-color: var(--color-primary);
    width: 12px;
    height: 6.38px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.open .s-arrow-l:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}
.open .s-arrow-r:after {
    transform-origin: center center;
    transform: rotate(70deg);
}

.subnav-wrp {
    z-index: 2;
    background: #FFFFFF;
    border-radius: 5px;
    
    width: 100%;
    -webkit-transition: opacity 300ms, visibility 300ms, top 1ms 300ms;
    transition: opacity 300ms, visibility 300ms, top 1ms 300ms;
    display: none;
}
ul.subnav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 6px 0 10px 0;
}
ul.subnav-list > li {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
ul.subnav-list a {
    font-family:  'Gotham';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #111112;
    text-decoration: none;
    line-height: 1;
    padding: 8px 20px;
    display: block;
    -webkit-transition: color 300ms;
    transition: color 300ms;
}

.ct-caption {
    font-size: 22px;
    margin-bottom: 14px;
}

.ct-caption, .ctg-caption {
    text-decoration: none;
    font-family:  'Gotham';
    font-weight: 700;
    font-size: 20px;
    color: #111112;
    line-height: 1.1;
    display: block;
    
    -webkit-transition: color 300ms;
    transition: color 300ms;
}
ul.ct-sub-link {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}
ul.ct-sub-link > li {
    margin-bottom: 11px;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}
ul.ct-sub-link a {
    text-decoration: none;
    font-size: 16px;
    color: var(--second-text-color);
    line-height: 1.2;
    -webkit-transition: color 300ms;
    transition: color 300ms;
}

.ct-box .link {
    font-family: inherit;
    font-size: 0.86em;
    font-weight: 400;
    margin-bottom: 22px;
}
.ct-top>a:hover{
  color: var(--color-primary);
}
  /*Zakaz denali*/
  /*-----------------------------*/
.zakaz-denali{
  margin: 20px 0 0;
  color: white;
  position: relative;
  padding: 0 0 50px 0;
  background-size: 100% auto ;
  position: relative;
  background-position: left;
}
.zakaz-denali:before{
  position: absolute;

  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to top, rgb(107 86 2 / 80%) 0%, rgb(195, 155, 0, 0.9) 100%);
}
.zakaz-denali>*{
  position: relative;
  z-index: 2;

}
.zakaz-denali-h>h2{
  color: white;
  font-weight: bold;
}
.zakaz-denali-c{
  padding: 20px 0 0 0;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fr-item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: calc(50% - 8px);
    margin-bottom: 15px;
}
.textarea, .input {
  height: 50px;
  display: flex;
  padding: 5px 20px;
  position: relative;
  cursor: text;
  transition: background-color 300ms, box-shadow 300ms, border-color 300ms, color 100ms, -webkit-box-shadow 300ms;
  width: 100%;
  background-color: var(--gray-color);
  border: 1px solid #ECECEC;
  border-radius: 5px;
  font-size: 16px;
}
.textarea textarea, .input input {
  border: none;
  width: 100%;
  padding: 0;
  background-color: transparent;
  color: #111112;
}
.full-width{
  width: 100%;
}

.value-changer{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
  height: 50px;
}
.value-changer-sign{
  width: 20px;
    font-size: 16px;
    background-color: white;
    vertical-align: middle;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #d7d7d7;
}
.value-changer-number{
  border-radius: 8px 8px 8px 8px;
    color: black;
    height: 36px;
    width: 100px;
    padding: 4px;
    text-align: center;
    border: 1px solid #d7d7d7;
    transition: all 0ms;
}
.value-changer-box{
  position: absolute;
  left: 13%;
}
.value-changer-title{
 color: #111112;
 margin: 0 10px 0 0;
}

/*CONTACTS*/
/*-------------------------*/

.ts-head {
  color: white;
  position: relative;
  padding: 20px 0 55px 0;  
  display: flex;
  flex-direction: column;
  font-size: 40px;
}
h2{
  text-align: center;
}
.cts-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 64px;
}
.cts-item{
  width: calc(50%);
  text-align: center;
}
.cts-prop{
  color: var(--color-primary);
}
.mg-wrp {
    display: table;
    font-weight: 500;
    margin-bottom: 65px;
    max-width: 100%;
}
.mg-item {
    display: table-row;
}
.mg-name {
    padding-right: 20px;
}

.mg-item > * {
    display: table-cell;
    padding-bottom: 16px;
}
.mg-tel {
    text-decoration: none;
    color: var(--color-primary);
    min-width: 171px;
    padding-right: 20px;
}

.addr-wrp{
  display: flex;
  justify-content: space-around;
  margin-bottom: 64px;
}
.addr-item{
  width: calc(50%);
  text-align: center;
  flex-direction: column;
}

/*DELIVEY*/
/*---------------------------------*/


.delivery_h1 {
    margin: 0 0 29px 0;
}
ul.ed-list.column{
  column-count: 2;
  max-width: 100%;
  text-align: center;
}
ul.ed-list>li{
  padding: 10px 0 10px 0;
}
.it-img>img{
  filter: invert(79%) sepia(51%) saturate(897%) hue-rotate(347deg) brightness(104%) contrast(101%);
}

ul.icons-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 5px solid #ECECEC;
  border-top: 5px solid #ECECEC;
}
ul.icons-list>li{
  width: calc(50% - 3px);
}

.ic-text{
  text-align: left;
  padding: 0 0 0 10px;
  align-self: center;
}
.icon-box{
  display: flex;
  padding: 10px 10px 10px 10px;
}
.ic-img>img{
  width: 85px;
  border-right: 3px solid #ECECEC;
  align-items: center;
  margin-right: 10px;
}

ul.ed-list_posnoyan{
  justify-content: space-between;
  display: flex;
  margin: 30px 0 0 0;
}
ul.ed-list_posnoyan>li{
  width: 33%;
  text-align: center;

}

/*COMPANY*/
/*-------------------------------*/



/*slider*/
/*----------*/
.slidebg{
  padding: 40px 0 40px 0;
}
.slider__item img{
  width: 150px;
  height: 100px;
}
.sliderBig__item img{
  width: 800px;
  height: 500px;
  align-items: center;
  margin: 0 0 20px 0;
}


/* Слайдер */
.slick-slider{
  text-align: center;
  margin: 0 200px;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
/*Конкретный слайдер*/
.slider{
  position: relative;
  padding: 0px 60px;
}

.slider .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert(79%) sepia(51%) saturate(897%) hue-rotate(347deg) brightness(104%) contrast(101%);
}
.slider .slick-dots li{
  list-style: none;
  margin:  0px 10px;
}
.slider .slick-dots button{
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
  background-color: transparent;
  border: 1px solid white;
}
.slider .slick-arrow{
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  background-color: black;
  margin: -25px 0 0 0;
}
.slider .slick-arrow.slick-prev{
  left: 0;
  background: url('icons/chevron_right_white_48dp.svg') 0 0 / 100% no-repeat;
  transform: rotate(180deg);
  filter: invert(79%) sepia(51%) saturate(897%) hue-rotate(347deg) brightness(104%) contrast(101%);
}
.slider .slick-arrow.slick-next{ 
  right: 0;
  background: url('icons/chevron_right_white_48dp.svg') 0 0 / 100% no-repeat;
  filter: invert(79%) sepia(51%) saturate(897%) hue-rotate(347deg) brightness(104%) contrast(101%);
  
}
.slider__item{
  opacity: 0.4;
  text-align: center;
  transition: all .3s ease 0s;
}
.slider__item.slick-center{
  opacity: 1;

}

.sliderBig{}
.sliderBig__item{
  text-align: center;
}

.slick-track .slick-slide{
  z-index: 4;
}
hr {
  margin: 28px 0;
  border: none;
  height: 3px;
  background-color: #EAEAEA;
}


/*fancybox*/
/*------------------------*/

.fancybox-container{
  transition: all 0.8s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}
.fancybox_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.fancybox_content{
  background-color: #fff;
  color: #000;
  max-width: 100%;
  width: 800px;
  padding: 46px 60px;
  border-radius: 5px;
  position: relative;
}
.fancybox__close{
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  font-size: 20px;
}
.fancybox__close>img{
  width: 40px;
  transition: .4s all;
}
.fancybox__close>img:hover{
  transform: rotate(180deg);
}
.fancybox__title{
  font-size: 40px;
  margin: 0 0 1em 0;
}
.fancybox__area{
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0; 
}

.fancybox-h>h2{
  color: #000;
  font-weight: bold;
}
.fancybox_btn{
  text-align: center;
  align-items: center;
  justify-content: center;
}


#errorMess{
  color: red;
  align-self: center;
}
.fancybox_img_open{
  position: relative;
 /* height: 600px;*/
 width: 450px;
}

.fancybox_img__close{
  filter: invert(79%) sepia(51%) saturate(897%) hue-rotate(347deg) brightness(104%) contrast(101%);
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  font-size: 20px;
}
.fancybox_img__close>img{
  width: 40px;
  transition: .4s all;
}
.fancybox_img__close>img:hover{
  transform: rotate(180deg);
}
.fanacybox_img_main{
  width: 100%;
  height: 100%;
}
.footer-btn{
  display: flex;
}

/*catalog_categorii_zapchast*/
/*--------------------------------------*/

ul.td-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 0 -10px;
}
ul.td-list>li {
    width: 50%;
    padding: 0 50px;
    margin-bottom: 10px;
}
ul.td-list a {
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  padding: 14px 20px;
  border: 1px solid #E7E7E7;
  display: block;
  align-items: center;
  min-height: 50px;
  height: 100%;
  transition: all .3s;
}
.tc-content{
  width: 925px;
}
.tc-content h1{
  text-align: center;
  font-size: 25px;
}
.td-list>li:hover{
  color:  var(--color-primary);
}

/*manafactur*/

.man-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}
.man-list>li{
  border-radius: 3px;
  width: calc(20% - 40px);
  border:  2px solid #E7E7E7;
  padding: 20px 20px;
  margin: 20px 20px;
  /*background-color: #ffffff;*/
  filter: grayscale(100%);
  transition: all .3s; 
}
.man-list>li:hover{
  filter: grayscale(0%);
}
.man-box{
  height: 100%;
}
.man-box> hr{
  background-color: var(--second-text-color);
  height: 2px;
}
.man-img{
  width: 100%;
  text-align: center;
  height: 100px;
}
.man-img img{
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.man-name{
  padding: 10px 0 10px 0 ;
  height: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-man-name{
  width: 100%;
  overflow-wrap: break-word;
}


/*spare_part*/
/*-------------------------------*/

.spare_part-content{
  width: 925px;
}
.spare_part-content h1{
  text-align: center;
  font-size: 25px;
}
.s-p-main{
  width: 100%;
}
.s-p-main-content{
  width: 100%;
  padding: 40px 0px 40px 20px;
  display: flex;
}
.s-p-img{
  width: 43%;
  height: 300px;
  border-radius: 10px;
}
.s-p-img img{
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  left: 0;
  top: 0;
  border-radius: 5px;
}
.s-p-info{
  padding: 10px 20px 0 20px;
  width: 57%;
}
ul.info-list>li{
  
  justify-content: space-between;
  display: flex;
}
ul.info-list>hr{
  margin: 10px 0;
}
.i-l-title{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.i-l-prop{
  overflow-wrap: anywhere;
  padding: 0px 0px 0px 20px;
}
.i-l-prop>a{
  position: relative;
}

.i-l-prop>a:before{

  content: '';
  width: 100%;
  bottom: 0;
  position: absolute;
  border-bottom: solid 2px;  
  transition: 0.3s;
  transform: scaleY(1);
}
.i-l-prop>a:hover:before{
  transform: scaleY(0);
  
}
.i-l-prop>a:hover{
  color: var(--color-primary);  
}
.spare-icon-inner{
  margin: 20px 0 0 0;
  width: 100%;
}
.spare-icon-inner ul.s-i-list{
  display: flex;
}
ul.s-i-list>li{
  width: 25%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;  
}

.s-p-zapros{
  padding: 10px;
  box-shadow: 0 0 5px rgba(234,234,234,1); 
  border-radius: 5px;
  margin: 20px 0 0 0;
}
.s-p-z-qty{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.z-qty-label{
  margin:0 10px 0 0;
}
.qty-value{
  position: absolute;
  left: 20%;
}
.qty-value input {
  border-radius: 8px 8px 8px 8px;
  color: black;
  height: 36px;
  width: 31px;
  padding: 4px;
  text-align: center;
  border: 1px solid #d7d7d7;
  transition: all 0ms;
}

.qty-value-changer{
  width: 20px;
  font-size: 16px;
  background-color: white;
  vertical-align: middle;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #d7d7d7;
}
/*categoriys-list-spare*/
/*---------------------------*/
.ctg-content{
  margin-top: 40px;
}
ul.ctg-c-list>li>.ctg-box{
  display: flex;
  align-items: center;
  width: 100%;
}
ul.ctg-c-list>li{
  width: 100%;
  height: 200px;
  padding: 20px 20px;
  margin: 0 0 40px 0;
  border: 3px solid var(--gray-color);
}
.ctg-box{
  width: 100%;
  height: 100%;
}
.ctg-img{
  width: calc(25%);
  height: 100%;
}
.ctg-img img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  align-items: center;
}
.ctg-info{
  width: calc(53%);
  height: 100%;
  margin: 0 15px 0 15px;
  border-left: 3px solid var(--gray-color);
  border-right: 3px solid var(--gray-color);
  padding: 0px 5px 0 5px;
}
.ctg-zapros{
  width: calc(22%);
  height: 100%;
}

ul.ctg-info-list>li {
  justify-content: flex-start;
  margin-bottom:5px ;
  display: flex;
}
.ctg-caption-list{
  font-size: 15px;
  line-height: 1.2;

}
.ctg-caption-list>a:bofore{
  transition: .3s;
}
.ctg-caption-list>a:hover{
  color: var(--color-primary);
}
.ctg-i-l-title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}
.ctg-i-l-prop {
    overflow-wrap: anywhere;
    padding: 0px 0px 0px 20px;
    font-size: 15px;
}

.ctg-qty{
  display: block;
  justify-content: center;
  text-align: center;
}
.ctg-label{
  margin:  0 0 0 0;
}
.ctg-value{
  position: unset;
}
.ctg-zapros{

  margin: 0;
}
.ctg-i-l-prop>a{
  position: relative;
}
.order{
  margin-right: 0;
  margin: 20px 0 0 0;
}

.ctg-i-l-prop>a:before{

  content: '';
  width: 100%;
  bottom: 0;
  position: absolute;
  border-bottom: solid 2px;  
  transition: 0.3s;
  transform: scaleY(1);
}
.ctg-i-l-prop>a:hover:before{
  transform: scaleY(0);
}
.ctg-i-l-prop>a:hover{
  color: var(--color-primary);  
}

.ctg-i-l-vender{
  padding: 0 0 0 10px;
  font-size: 10px;
}

/*button pagination*/
.page_list{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 0 20px 0;
  
}
.page_list ul{
  display: flex;
}
.active_page{
  background-color: var(--color-primary);
}
.active_page>button{
  color: white !important;
}
.page_number a{
  margin: 0 5px 0 5px;
  border-radius: 50%;
  padding: 0px 5px 0 5px;
  width: 25px;
  height: 25px;
  display: flex;
  transition: background-color 500ms, color 500ms;
}
.page_number a:hover{
  background-color: var(--second-color);

}
.page_number a button{
  width: 100%;
  height: 100%;
  font-size: 18px;
  background-color: transparent;
  color: var(--color-primary);
}
.page_number a>button{
  color: black;
}
.forward_page,.next_page{
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  margin: 0px 15px 0 15px;
}
.forward_page>button,.next_page>button{
  background-color: transparent;
  opacity: .8;
  font-size: 13px;
  transition: color 500ms, color 500ms;
}
.forward_page>button:hover,.next_page>button:hover{
  color: var(--second-color);
}

/*loader*/
.loader{
  transition: all 0.8s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 999;
}
.load_body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.load_content{
  display: flex;
  justify-content: center;
}
.loader_spin {
    border-top: 5px solid var(--color-primary);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*404*/
.err-wrapper{
  display: flex;
  justify-content: space-around;
  margin: 20px 20px;
}
.err-mess{
      text-align: center;
    padding: 20px;
    margin: 40px 0 40px 0;
}
.err-mess p{
  padding: 10px 0 10px 0;
}
.err-img{
  width: 350px;
}
.err-img img{
  width: 100%;
}
.receipts{
  margin: 40px 0 40px 0;
}
.receipts-h h2{
  margin: 10px ;
}
.receipts-list{
  width: 100%;
  display: flex;
  flex-flow: wrap;
}
.receipts-list li{
  margin: 20px;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  font-size: 15px;
  width: calc(20% - 40px);
  height: 200px;
  padding: 10px;
  flex-wrap: wrap;
}
.receipts-list li a{
  width: 100%;
  height: 100%;
}
.receipts_img{
  width: 100%;
  height: calc(50%);
}
.receipts_img img{
  object-fit: none;
  width: 100%;
  height: 100%;
  background-size:cover
  background-position: center;
  padding-bottom:10px ;
}
.receipts_name{
  position: relative;
  text-align: center;
  height: calc(50%);
}
.receipts_name p{
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  line-height: 18px;
  transition: color 500ms, color 500ms;
  width: 100%;
}

.receipts_name p:hover{
  color: var(--color-primary);
}

/*adaptiv*/

@media(max-width: 1200px){
  
  .h-col-c{
    display: none;
  }
  .nav-btn span,.nav-btn:after, .nav-btn:before{
  transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);;

    height: 3px;
    width: 100%;
    position: absolute;
    background: white;
    margin: 0 auto;
    left: 0;
  }
  .nav-btn span{
    top: 50%;
  }
  .nav-btn:after, .nav-btn:before{
    content: '';
  }
  .nav-btn:after{
      top: calc(75%);
  }
  .nav-btn:before{
      top: calc(25%);
  }

  .nav-btn.active span,.nav-btn.active:after, .nav-btn.active:before{
  transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);;
    z-index: 1000;
    height: 3px;
    width: 100%;
    position: absolute;
    background: black;
    margin: 0 auto;
    left: 0;
  }
  .nav-btn.active span{
    opacity: 0;
  }
  .nav-btn.active:after, .nav-btn.active:before{
    content: '';
  }
  .nav-btn.active:after{
      top: calc(50%);
      transform: rotate(45deg);
  }
  .nav-btn.active:before{
      top: calc(50%);
      transform: rotate(135deg);

  }
  .nav-btn{
    display: block;
  }
  .h-col-c.active{
    padding-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 999;
    display: block;
  } 
  .h-col-c.active .nav{
    height: 100%;
    color: black;
  }
  .h-col-c.active .nav-inner{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
  }
  .h-col-c.active ul.nav-list{
    display: block;
    align-self: center;
    text-align: center;
  }
  .h-col-c.active ul>li a{
    font-size: 1.9em;
    display: block;
    list-style: none;
    position: relative;
    line-height: 45px;
  }

  .slick-slider {
    text-align: center;
    margin: 0 150px;
  }
  /*catalog*/
  .main-cols{
    display: block;
  }
  .aside{
    margin-top: 20px;
    width: 100%;
    padding: 0 20px 20px 20px;
  }

  ul.as-list{
    display: flex;
    flex-wrap: wrap;
  }
  ul.as-list > li {
    width: calc(33%);
  }
  .mc-content{
    width: 100%;
  }
  .main-catalog>.container {
     padding:0 15px 
  }
  .mc-content h1{
    font-size: 20px;
    text-align: center;
  }
  .spare_part-content{
    width: 100%;
  }
}
@media(max-width: 1024px){
  h2{
    font-size: 2.3rem;
  }
  .header{
    height: 85px;
  }
  .h-flex{
    height: 85px;
  }
  .btn {
    font-size: 13px;
    padding: 2px 7px;
    min-width: 100px;
    height: 30px;
    margin-right: 15px;
  }
  .outer-container, .container {
    width: 1024px;
    padding: 0 20px;
  }
  .sr-caption {
    font-size: 25px;
    font-weight: bold;
    padding: 0 0 15px 0;
  }
  .h-search input {
    border-radius: 5px;
    width: 450px;
    background: var(--gray-color);
    border: 2px solid #ECECEC;
    color: #444444;
    padding: 8px 25px;
    font-size: 16px;
  }
  .h-sub-search {
    font-size: 15px;
  }
  .map>iframe{
    width: 440px;
  }
  .ab-m-map>iframe{
    width: 440px;
  }
  .ct-box{
    display: block;
  }
  .ct-img{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .ct-img img{
    width: 100%;

  }
  .ct-content{
    width: 100%;
  }
  .ct-content-h>a{
    font-size: 17px;
  }
  li.ct-content-list__links{
    font-size: 16px;
    line-height: 20px;
  }
  ul.receipts-list{
    justify-content: space-around;
  }
  .receipts_name p {
    font-size: 15px;
    line-height: 20px;
  }
  .receipts-list li{
    margin: 10px;
    width: calc(20% - 20px);
  }
  .f-nav-inner{
    margin: 0 10px 0 10px;
  }
  .f-nav-list{
    font-size: 17px;
  }
  ul.f-nav-list > li {
    margin-bottom: 12px;
  }
  .contact {
    width: 300px;
  }
  .adress{
    font-size: 16px;
    padding: 0 0 3px 0;
  }
  .h-tel{
    font-size: 15px;
  }
  .h-email{
    font-size: 15px;
  }
  .slick-slider {
    text-align: center;
    margin: 0 100px;
  }
  /*manufacturer*/
  .man-list>li {
    width: calc(25% - 40px);
  }
  .tc-content {
    width: 100%;
  }
}
@media(max-width: 900px){
  .slider__item img {
    width: 90%;
    height: 100%;
  }
  ul.as-list > li > a {
    margin: 0 31px 0 0;
    font-size: 15px;
    line-height: 1;
    padding: 7px 5px 2px 13px;
  }
  ul.subnav-list a {
    padding: 6px 20px;
  }
  /*manufacturer*/
  .man-list>li {
    width: calc(33% - 40px);
  }
  .footer-block {
    padding: 20px 0 20px 0;
  }
  /*ctg*/
  .ctg-info{
    width: 50%;
  }
  .ctg-zapros{
    font-size: 13px;
  }
  .btn.order{
    margin-right: 0px;
  }

}
@media(max-width: 768px){
  h2{
    font-size: 2rem;
  }
  .header{
    height: 75px;
  }
  .h-flex{
    height: 75px;
  }
  .btn {
    font-size: 11px;
    border-radius: 5px;
    padding: 2px 5px;
    min-width: 100px;
    height: 30px;
    margin-right: 15px;
  }
  .outer-container, .container {
    width: 768px;
    padding: 0 20px;
  }
  .ct-box{
    display: block;
  }
  .map>iframe{
    width: 400px;
    height: 300px;
  }
  .ab-m-map>iframe{
    width: 400px;
    height: 300px;
  }
  .ct-img{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .ct-img img{
    width: 100%;

  }
  .ct-content{
    width: 100%;
  }
  .ct-content-h>a{
    font-size: 17px;
  }
  li.ct-content-list__links{
    font-size: 15px;
    line-height: 16px;
  }
  ul.receipts-list{
    justify-content: space-around;
  }
  .receipts_name p {
    font-size: 15px;
    line-height: 16px;
  }
  .receipts-list li{
    width: calc(30% - 40px);
  }
  .ab-m-text{
    font-size: 17px;
    width: 100%;
  }
  li.ad-m-komp__counter{
    font-size: 15px;
    line-height: 16px;
  }
  .f-nav-inner{
    margin: 0 15px 0 15px;
  }
  .f-nav-list{
    font-size: 15px;
  }
  ul.f-nav-list > li {
    margin-bottom: 12px;
  }
  .contact {
    width: 200px;
  }
  .adress{
    font-size: 10px;
    padding: 0 0 3px 0;
  }
  .h-tel{
    font-size: 12px;
  }
  .h-email{
    font-size: 12px;
  }
/*company*/

  ul.icons-list {
    display: blok;
  }
  ul.icons-list>li {
    width: 100%;
  }
  .slick-slider {
    text-align: center;
    margin: 0 125px;
  }
  .sliderBig__item img {
    width: 100%;
    height: 80%;
  }
  /*catalog*/
  ul.as-list > li > a {
    font-size: 14px;
  }
  ul.subnav-list a {
    font-size: 12px;
    padding: 4px 20px;
  }
  .value-changer {
    position: unset;
    display: unset;
    height: 100%;
  }
  .value-changer-box{
    position: unset;
  }
  .value-changer-title{
    margin: 0px 0px 0px 0px;
  }
  .s-p-main-content{
    display: block;
  }
  .qty-value {
    left: 22%;
  }
  .s-p-info {
    width: 100%;
  }
  .s-p-img{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    text-align: center;
  }
  .s-p-img img{
    width: 35%;
  }
}
  

@media(max-width: 700px){
  .h-ctc{
    display: none;
  }
  li.ad-m-komp__counter {
    font-size: 14px;
    line-height: 15px;
  }
  /*manufacturer*/
  .man-list>li {
    width: calc(33% - 20px);
  }
  .man-list>li {
    padding: 20px 20px;
    margin: 10px 10px;
  }
  .mg-wrp{
    margin-bottom: 30px;
  }
}
@media(max-width: 675px){
  h2{
    font-size: 1.7rem;
  }
  .receipts_name p {
    font-size: 13px;
    line-height: 16px;
  }

  .about-main{
    display: block;
    text-align: center;
  }
  .ad-m-komp{
    text-align: left;
  }
  li.ad-m-komp__counter {
    font-size: 14px;
    line-height: 15px;
  }
  .sr-caption {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 15px 0;
  }
  .h-search input {
    border-radius: 5px;
    width: 300px;
    background: var(--gray-color);
    border: 2px solid #ECECEC;
    color: #444444;
    padding: 8px 25px;
    font-size: 12px;
  }
  .h-sub-search {
    font-size: 12px;
  }
  .h-search button {
    font-family: 'Gotham';
    font-weight: bold;
    width: 50px;
    border-radius: 5px;
    background: var(--color-primary);
    color: white;
    /* border: 1px solid #ECECEC; */
    font-size: 12px;
    padding: 10px 5px;
    transition: all .3s;
  }
  .cw-ot{
    margin-left: 5px;
    padding-top: 0px;
  }
  .link{
    font-size: 1.2rem;

  }
  .slick-slider {
    text-align: center;
    margin: 0 100px;
  }
  /*ctg*/
  .ctg-zapros{
    line-height: 19px;
  }
  .order {
    font-size: 10;
    line-height: 12px;
    margin: 10px 0 0 0;
  }
}
@media(max-width: 580px){
  .outer-container, .container {
    width: 580px;
  }
  .map>iframe{
    width: 300px;
    height: 225px;
  }
  .ab-m-map>iframe{
    width: 300px;
    height: 225px;
  }
  .receipts_name p {
    font-size: 11px;
    line-height: 14px;
  }
  .ct-img {
    height: 100px;
  }
  /*catalog*/
  ul.as-list > li {
    width: calc(50%);
  }
  .man-list>li {
    width: calc(33% - 15px);
  }
  .man-list>li {
    padding: 10px 10px;
    margin: 8px 8px;
  }
  .mg-item {
    display: inline-grid;
    margin-bottom: 10px;
  }
  .h-col-c.active ul>li a {
    font-size: 1.3em;
    line-height: 31px;
  }
   .h-col-c.active ul>li{
    margin-bottom: 10px;
  }
  /* ctg */
  .ctg-caption-list{
    font-size: 13px;
  }
  .ctg-i-l-title{
    font-size: 11px;
  }
  .ctg-i-l-prop{
    font-size: 12px;
  }
  ul.ctg-c-list>li {
    height: 100%;
  }
  .tc-content h1 {
    font-size: 20px;
  }
  .spare-icon-inner ul.s-i-list {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    word-break: break-word;
  }
  ul.s-i-list>li {
    width: 45%;
  }

  ul.td-list>li {
    width: calc(50% - 10px);
    padding: 0 25px;
    margin-bottom: 10px;
  }
  ul.td-list a {
    line-height: 1;
    padding: 20px 5px;
    font-size: 18px;
  }
}
@media(max-width: 480px){
  .btn {
    font-size: 10px;
    border-radius: 5px;
    padding: 2px 5px;
    min-width: 100px;
    height: 30px;
    margin-right: 0;
  }
  .outer-container, .container {
    width: 480px;
  }
  .map>iframe{
    width: 280px;
    height: 171px;
  }
  .ab-m-map>iframe{
    width: 280px;
    height: 171px;
  }
  .receipts-list li {
    width: calc(45% - 20px);
  }
  .ct-content-h>a {
    font-size: 14px;
  }
  li.ct-content-list__links {
    font-size: 12px;
    line-height: 13px;
  }
  .receipts_name p {
    font-size: 10px;
    line-height: 12px;
  }
  .f-nav-list {
    font-size: 11px;
  }
  .contact {
    width: 200px;
  }
  .adress {
    font-size: 10px;
    line-height: 10px;
    padding: 0 0 3px 0;
  }
  .h-tel {
    font-size: 10px;
  }
  .h-email {
    font-size: 10px;
  }
  .ct-img {
    height: 100px;
  }
  .slick-slider {
    text-align: center;
    margin: 0 30px;
  }
  .sliderBig__item img {
    width: 100%;
    height: 250px;
  }
  /*catalog*/
  ul.as-list > li > a {
    font-size: 12px;
  }
  ul.subnav-list a {
    font-size: 11px;
  }
  .mc-content h1 {
    font-size: 16px;
  }
  .ct-caption, .ctg-caption {
    font-size: 14px;
  }
  ul.ct-sub-link a {
    text-decoration: none;
    font-size: 12px;
  }
  .man-list>li {
    width: calc(50% - 15px);
  }
  .man-list>li {
    padding: 10px 10px;
    margin: 6px 6px;
  }
  .manafacture_h1{
    font-size: 15px;
  }
  .link-man-name{
    font-size: 14px;
  }
  /*delivery*/
  ul.ed-list_posnoyan {
    display: block;
    margin: 30px 0 0 0;
  }
  ul.ed-list_posnoyan>li {
    width: 100%;
    text-align: center;
  }
  .ts-head h1{
    font-size: 30px;
  }
  /*ctg*/
  ul.ctg-info-list>li {
    display: block;

  }

  .ctg-i-l-prop {
    padding: 0px 0px 0px 0px;
  }
  .ctg-i-l-vender {
    padding: 0 0 0 0px;
    font-size: 9px;
  }
  .ctg-info-list{
    line-height: 18px;
  }
  .ctg-zapros{
    font-size: 11px;
    line-height: 18px;
  }
  .order {
    margin: 0px 0 0 0;
  }
  .s-p-img img {
    width: 50%;
  }
  ul.td-list>li {
    padding: 0 10px;
    font-size: 12px;
  }
}
@media(max-width: 450px){
  .f-nav-list {
    display: block;
  }
  ul.f-nav-list > li {
    margin-bottom: 5px;
    width: 100%;
  }
  /*ctg*/
  .ctg-content{
    margin-top: 0px;
  }
  ul.ctg-c-list>li{
    padding: 10px 10px;
    margin: 0 0 20px 0;
  }
  ul.ctg-c-list>li>.ctg-box{
    display: block;
  }
  .ctg-info{
    border-top: 3px solid var(--gray-color);
    padding: 5px 0px 0 0px;
    margin: 0 0 0 0;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
  }
  .ctg-zapros{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .ctg-zapros p{
    padding: 0 10px 0 0;
  }
  .ctg-zapros p:nth-child(2){
    display: none;

  }
  ul.ctg-info-list>li {
    display: flex;
  }
  .ctg-i-l-prop {
    padding: 0px 0px 0px 20px;
  }
  .ctg-img {
    width: calc(35%);
    height: 100px;
    margin-bottom: 10px;
  }
  .ctg-i-l-vender{
    padding-left: 20px;
  }
  .ctg-img img{
    object-fit: cover;
  }
  .s-p-z-qty {
    display: block;
  }
  .qty-value {
    top: 0%;
    left: 60%;
  }
  .qty-value input {
    border-radius: 8px 8px 8px 8px;
    color: black;
    height: 55px;
    width: 40%;
    padding: 4px;
    text-align: center;
    border: 1px solid #d7d7d7;
    transition: all 0ms;
  }
  .qty-value-changer {
    height: 100%;
    width: 20%;
    font-size: 16px;
    background-color: white;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
  }

}
@media(max-width: 400px){
  
  h2{
    font-size: 1.1rem;
  }
  .link {
    font-size: 0.8rem;
    vertical-align: text-top;
  }
  .outer-container, .container {
    width: 400px;
  }
  .h-ctc{
    display: none;
  }
  .h-search input {
    border-radius: 5px;
    width: 200px;
    background: var(--gray-color);
    border: 2px solid #ECECEC;
    color: #444444;
    padding: 5px 25px;
    font-size: 10px;
  }
  .sr-caption {
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 5px 0;
  }
  .h-search button{
    font-size: 9px;
    padding: 8px 5px;
  }
  .h-sub-search {
    font-size: 9px;
  }
  .ct-content-h>a {
    font-size: 10px;
  }
  .ct-caption {
    margin-bottom: 1px; 
  }
  li.ct-content-list__links {
    font-size: 9px;
    line-height: 10px;
  }
  .ct-content-list__links {
    margin: 4px 0 0 0;
  }
  .ct-box{
    font-size: 10px;
  }
  .receipts_name p {
    font-size: 9px;
    line-height: 10px;
  }
  .receipts-list li {
    width: calc(50% - 20px);
    height: 130px;
  }
  .ab-m-text {
    font-size: 11px;
  }
  li.ad-m-komp__counter {
    font-size: 9px;
    line-height: 10px;
  }
  .ad-m-komp>li {
    padding: 7px 0 0 0;
  }
  ul.f-nav-list > li {
    margin-bottom: 5px;
    width: 100%;
  }
  .form{
    display: block;
  }
  .fr-item{
    width: 100%
  }
  .textarea, .input {
    height: 40px;
  }
  .slick-slider {
    text-align: center;
    margin: 0 50px;
  }
 
  .sliderBig__item img {
    width: 100%;
    height: 200px;
    align-items: center;
    margin: 0 0 20px 0;
  }
  .slick-slider {
    text-align: center;
    margin: 0 20px;
  }
  .slider__item img {
    width: 80%;
    height: 100%;
  }
  /*catalog*/
  ul.as-list > li > a {
    margin: 0 29px 0 0;
  }
  ul.as-list > li > a {
    font-size: 9px;
  }
  ul.subnav-list a {
    font-size: 8px;
  }
  .ct-caption, .ctg-caption {
    font-size: 10px;
  }
  ul.ct-sub-link a {
    text-decoration: none;
    font-size: 9px;
  }
  ul.ct-sub-link > li {
    margin-bottom: 5px;
  }
  /*contacts*/
  .mg-name{
    font-size: 15px;
  }
  .mg-tel{
    font-size: 16px;
  }
  .addr-wrp{
    font-size: 14px;
  }
  .value-changer-box{
    margin-bottom: 15px;
  }
  .value-changer-number {
    width: 75px;
  }
  .s-p-img img {
    width: 65%;
  }
  ul.td-list a {
    line-height: 1;
    padding: 20px 5px;
    font-size: 14px;
  }
}
@media(max-width: 320px){
  .header {
    height: 55px;
  }
  .h-flex {
    height: 55px;
  }
  .outer-container, .container {
    width: 320px;
  }
  .map>iframe{
    width: 250px;
    height: 187px;
  }
  .ab-m-map>iframe{
    width: 250px;
    height: 187px;
  }
  ul.catalog-box-list > li {
    width: 100%;
  }
  .ct-img {
    height: 80px;
  }
  .f-nav-list {
    display: block;
    font-size: 9px;
  }
  ul.f-nav-list > li {
    width: 100%;
    margin-bottom: 5px;
  }
  .slick-slider {
    text-align: center;
    margin: 0 10px;
  }
  .s-p-main-content {
    padding: 20px 0px 20px 0px;
  }
  .spare_part-content h1 {
    text-align: center;
    font-size: 1.1rem;
  }
  .s-p-z-qty {
    display: block;
  }
  .qty-value {
    top: 0%;
    left: 60%;
  }
  ul.info-list>li {
    display: block;
  }
  .i-l-prop {
    padding: 0px 0px 0px 0px;
  }
  .s-p-img {
    width: 100%;
    height: 175px;
  }
}