
button{
	
	color: white;
	width: 90px;
	flex-wrap: wrap;
	color: black;
	height: 70px;
	transition: all .3s;
	margin: 10px 0 10px 0;
}
button:hover{
	background-color: gray;
	color: white;
}
.main{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.create_dir{
	margin: 40px 0px 40px 40px;
	padding-right:40px ;
	width: 50%;
	border-right: 2px solid black;
}
.create-line{
	margin: 40px 40px 40px 0px;
	padding-left:40px ;

	width: 50%;
}
.hide{
	display: none;
}
.create_box{
	border: 2px solid black;
	margin: 10px 5px 10px 5px;
	padding: 10px;
}
header{
	display: flex;
	justify-content: center;
}
.header{
	font-weight: bold;
	font-size: 30px;
}